# 👉 Игнорировать файл с ключами
.env

# 👉 Кэш и временные файлы Python
__pycache__/
*.pyc

# 👉 Логи (если будут)
*.log

# 👉 Базы Telethon (если создаёшь сессию)
*.session
*.session-journal

# 👉 Файлы IDE (если используешь VS Code или PyCharm)
.vscode/
.idea/

# 👉 Системные файлы
.DS_Store
